DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=prccd
PORT=4003
FRONTEND_URL=http://136.114.93.149:5173

# Llaves PKI para firmar certificados.
# Se recomienda usar rutas y mantener los archivos fuera de Git.
PRIVATE_KEY_PATH=./keys/private.pem
PUBLIC_KEY_PATH=./keys/public.pem

# Alternativamente, las llaves completas pueden proporcionarse así:
# PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
# PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
